<div id="configurations-item-container" class="flex flex-col gap-4">
  <app-overview-item
    title="Departments"
    description="Manage the various academic departments across your institution. Add new
  departments, modify existing ones, or reorganize them for better
  structure and clarity."
    routerLinkPath="department"
  />

  <app-overview-item
    title="Student Batch"
    description=" Manage the various Student Batches in your institution. Add new batches,
  modify existing ones, or reorganize them for better structure and
  clarity."
    routerLinkPath="student-batch"
  />
</div>
