<div class="space-y-8 w-full">
  <!-- Header with Action -->
  <div class="flex items-center justify-between">
    <h2
      class="text-2xl font-playfair font-semibold text-indigo-700 flex items-center"
    >
      <i class="pi pi-book mr-2 text-indigo-500"></i>
      <span class="text-gray-700">Courses</span>
    </h2>
    <button (click)="openModal()" class="btn btn-primary">
      <i class="pi pi-plus mr-2"></i>Add Course
    </button>
  </div>

  <!-- Add Course Form Modal -->

  <dialog id="addCourseModal" class="modal" #dialog>
    <form
      method="dialog"
      class="modal-box bg-white/90 backdrop-blur-lg rounded-xl shadow-lg font-sourcesans"
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      #dialogForm
    >
      <h3
        class="font-playfair font-semibold text-2xl text-indigo-700 mb-4 flex items-center"
      >
        <i class="pi pi-book mr-2 text-indigo-500"></i>
        Add New Course
      </h3>

      <div class="form-control mb-4">
        <label class="label">
          <span class="label-text text-gray-700 font-medium">Course Name</span>
        </label>
        <input
          type="text"
          placeholder="Enter course name"
          class="input input-bordered w-full bg-white"
          formControlName="name"
        />
      </div>

      <div class="form-control mb-4">
        <label class="label">
          <span class="label-text text-gray-700 font-medium"
            >Course Description</span
          >
        </label>
        <input
          type="text"
          placeholder="Enter course description name"
          class="input input-bordered w-full bg-white"
          formControlName="description"
        />
      </div>

      <div class="modal-action">
        <button class="btn btn-ghost" (click)="closeModal($event)">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">
          <i class="pi pi-check mr-2"></i>Submit
        </button>
      </div>
    </form>
  </dialog>

  <!-- Edit Department modal -->

  <dialog id="EditDepartmentModal" class="modal" #editDialog>
    <form
      method="dialog"
      class="modal-box bg-white/90 backdrop-blur-lg rounded-xl shadow-lg font-sourcesans"
      (ngSubmit)="onEditCourse()"
      [formGroup]="form"
      #editDialogForm
    >
      <h3
        class="font-playfair font-semibold text-2xl text-indigo-700 mb-4 flex items-center"
      >
        <i class="pi pi-building mr-2 text-indigo-500"></i>
        Edit Course
      </h3>

      <div class="form-control mb-4">
        <label class="label">
          <span class="label-text text-gray-700 font-medium">Course Name</span>
        </label>
        <input
          type="text"
          placeholder="Enter Course name"
          class="input input-bordered w-full bg-white"
          formControlName="name"
        />
      </div>

      <div class="form-control mb-4">
        <label class="label">
          <span class="label-text text-gray-700 font-medium"
            >Course Description</span
          >
        </label>
        <input
          type="text"
          placeholder="Enter Course description"
          class="input input-bordered w-full bg-white"
          formControlName="description"
        />
      </div>

      <div class="modal-action">
        <button class="btn btn-ghost" (click)="closeEditModal($event)">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">
          <i class="pi pi-check mr-2"></i>Submit
        </button>
      </div>
    </form>
  </dialog>

  <!-- Department Table -->
  <div
    class="overflow-x-auto bg-white/90 backdrop-blur-lg p-6 rounded-xl shadow-lg"
  >
    <table class="table min-w-1/3 font-sourcesans">
      <thead>
        <tr class="text-gray-600 text-sm uppercase">
          <th>Name</th>
          <th>Description</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (course of courses; track course.id) {
        <tr class="hover:bg-indigo-50 transition">
          <td class="text-gray-800">{{ course.name }}</td>
          <td class="text-gray-700 text-wrap w-sm text-justify">
            @if (course.description.length < 50) {
            {{ course.description }}
            } @else { @if (expandedCourseId == course.id) {
            {{ course.description }}
            <span
              ><button
                class="text-indigo-600 text-sm ml-2 hover:underline"
                (click)="toggleExpandedCourse(course.id)"
              >
                see less
              </button></span
            >
            } @else {
            {{ course.description.slice(0, 50) }}...
            <span
              ><button
                class="text-indigo-600 text-sm ml-2 hover:underline"
                (click)="toggleExpandedCourse(course.id)"
              >
                see more
              </button></span
            >
            } }
          </td>
          <td class="text-center">
            <div class="flex justify-center gap-2">
              <button
                class="btn btn-sm btn-warning text-white"
                (click)="
                  openEditModal(course.id, course.name, course.description)
                "
              >
                <i class="pi pi-pencil"></i>
              </button>
              <button
                class="btn btn-sm btn-error text-white"
                (click)="deleteCourse(course.id)"
              >
                <i class="pi pi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        }@empty {
        <p>No courses yet</p>
        }
      </tbody>
    </table>
  </div>
</div>
