<!-- <div class="space-y-8 w-full">

  <div class="flex items-center justify-between">
    <h2
      class="text-2xl font-playfair font-semibold text-indigo-700 flex items-center"
    >
      <i class="pi pi-building mr-2 text-indigo-500"></i>
      <span class="text-gray-700">Departments</span>
    </h2>
    <button (click)="openModal()" class="btn btn-primary">
      <i class="pi pi-plus mr-2"></i>Add Department
    </button>
  </div>



  <dialog id="addDepartmentModal" class="modal" #dialog>
    <form
      method="dialog"
      class="modal-box bg-white/90 backdrop-blur-lg rounded-xl shadow-lg font-sourcesans"
      (ngSubmit)="onSubmit($event)"
      [formGroup]="form"
      #dialogForm
    >
      <h3
        class="font-playfair font-semibold text-2xl text-indigo-700 mb-4 flex items-center"
      >
        <i class="pi pi-building mr-2 text-indigo-500"></i>
        Add New Department
      </h3>

      <div class="form-control mb-4">
        <label class="label">
          <span class="label-text text-gray-700 font-medium"
            >Department Name</span
          >
        </label>
        <input
          type="text"
          placeholder="Enter department name"
          class="input input-bordered w-full bg-white"
          formControlName="name"
        />
      </div>

      @if ((form.controls.name.touched || form.controls.name.dirty) &&
      form.controls.name.invalid) {
      <p class="text-red-500 text-sm mt-1 ml-1">Name is required.</p>
      }

      <div class="modal-action">
        <button class="btn btn-ghost" (click)="closeModal($event)">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">
          <i class="pi pi-check mr-2"></i>Submit
        </button>
      </div>
    </form>
  </dialog>



  <dialog id="EditDepartmentModal" class="modal" #editDialog>
    <form
      method="dialog"
      class="modal-box bg-white/90 backdrop-blur-lg rounded-xl shadow-lg font-sourcesans"
      (ngSubmit)="onEditDepartment($event)"
      [formGroup]="form"
      #editDialogForm
    >
      <h3
        class="font-playfair font-semibold text-2xl text-indigo-700 mb-4 flex items-center"
      >
        <i class="pi pi-building mr-2 text-indigo-500"></i>
        Edit Department
      </h3>

      <div class="form-control mb-4">
        <label class="label">
          <span class="label-text text-gray-700 font-medium"
            >Department Name</span
          >
        </label>
        <input
          type="text"
          placeholder="Enter department name"
          class="input input-bordered w-full bg-white"
          formControlName="name"
        />
      </div>

      @if ((form.controls.name.touched || form.controls.name.dirty) &&
      form.controls.name.invalid) {
      <p class="text-red-500 text-sm mt-1 ml-1">Name is required.</p>
      }

      <div class="modal-action">
        <button class="btn btn-ghost" (click)="closeEditModal($event)">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">
          <i class="pi pi-check mr-2"></i>Submit
        </button>
      </div>
    </form>
  </dialog>


  <div
    class="overflow-x-auto bg-white/90 backdrop-blur-lg p-6 rounded-xl shadow-lg"
  >
    <table class="table min-w-1/3 font-sourcesans">
      <thead>
        <tr class="text-gray-600 text-sm uppercase">
          <th>Name</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (department of departments; track department.id) {
        <tr class="hover:bg-indigo-50 transition">
          <td class="text-gray-800">{{ department.name }}</td>
          <td class="text-center">
            <div class="flex justify-center gap-2">
              <button
                class="btn btn-sm btn-warning text-white"
                (click)="openEditModal(department.id, department.name)"
              >
                <i class="pi pi-pencil"></i>
              </button>
              <button
                class="btn btn-sm btn-error text-white"
                (click)="deleteDepartment(department.id)"
              >
                <i class="pi pi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        }@empty {
        <p>No departments yet</p>
        }
      </tbody>
    </table>
  </div>
</div> -->

<app-crud-generator
  pageName="Department"
  [mainServiceToken]="departmentService"
  [config]="config"
/>
