<div id="courses-and-programs-container" class="flex flex-col gap-4">
  <app-overview-item
    title="Courses"
    description="Manage the various courses offered by your institution. Add new courses,
  modify existing ones, or reorganize them for better structure and
  clarity."
    routerLinkPath="courses"
  />

  <app-overview-item
    title="Programs"
    description=" Manage the various programs offered by your institution. Add new
  programs, modify existing ones, or reorganize them for better structure
  and clarity."
    routerLinkPath="programs"
  />
</div>
