<div id="courses-and-programs-container" class="flex flex-col gap-4">
  <div class="flex cursor-pointer w-xl" routerLink="student">
    <div
      class="bg-white/90 p-6 rounded-xl shadow-lg transition-all transform hover:translate-y-[-5px] hover:shadow-2xl duration-300 ease-in-out"
    >
      <h2
        class="text-2xl font-playfair font-semibold text-indigo-700 mb-2 flex items-center"
      >
        <i class="pi pi-users mr-2 text-indigo-500"></i>
        <span class="text-gray-700">Students</span>
      </h2>
      <p class="text-gray-600 text-sm font-sourcesans">
        Manage the various Students enrolled in your institution. Add new
        students, modify data of existing ones, or reorganize them for better
        structure and clarity.
      </p>
    </div>
  </div>

  <div class="flex cursor-pointer w-xl" routerLink="instructors">
    <div
      class="bg-white/90 p-6 rounded-xl shadow-lg transition-all transform hover:translate-y-[-5px] hover:shadow-2xl duration-300 ease-in-out"
    >
      <h2
        class="text-2xl font-playfair font-semibold text-indigo-700 mb-2 flex items-center"
      >
        <i class="pi pi-briefcase mr-2 text-indigo-500"></i>
        <span class="text-gray-700">Instructors</span>
      </h2>
      <p class="text-gray-600 text-sm font-sourcesans">
        Manage the various Instructors enrolled in your institution. Add new
        instructors, modify data of existing ones, or reorganize them for better
        structure and clarity.
      </p>
    </div>
  </div>

  <div class="flex cursor-pointer w-xl" routerLink="admins">
    <div
      class="bg-white/90 p-6 rounded-xl shadow-lg transition-all transform hover:translate-y-[-5px] hover:shadow-2xl duration-300 ease-in-out"
    >
      <h2
        class="text-2xl font-playfair font-semibold text-indigo-700 mb-2 flex items-center"
      >
        <i class="pi pi-cog mr-2 text-indigo-500"></i>
        <span class="text-gray-700">Admins</span>
      </h2>
      <p class="text-gray-600 text-sm font-sourcesans">
        Manage the various Admin that manage your institution. Add new admins,
        modify data of existing ones, or reorganize them for better structure
        and clarity.
      </p>
    </div>
  </div>
</div>
