<div id="courses-and-programs-container" class="flex flex-col gap-4">
  <app-overview-item
    title="Students"
    description="Manage the various Students enrolled in your institution. Add new
  students, modify data of existing ones, or reorganize them for better
  structure and clarity."
    routerLinkPath="student"
  />

  <app-overview-item
    title="Instructors"
    description="Manage the various Instructors enrolled in your institution. Add new
  instructors, modify data of existing ones, or reorganize them for better
  structure and clarity."
    routerLinkPath="instructor"
  />

  <app-overview-item
    title="Admins"
    description=" Manage the various Admin that manage your institution. Add new admins,
  modify data of existing ones, or reorganize them for better structure
  and clarity."
    routerLinkPath="admin"
  />
</div>
