<div class="w-full h-full">
  <aside class="p-4 h-full">
    <label class="input">
      <svg
        class="h-[1em] opacity-50"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <g
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2.5"
          fill="none"
          stroke="currentColor"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </g>
      </svg>
      <input type="search" class="grow" placeholder="Search" />
    </label>

    <!-- Chats -->

    <ul class="list">
      <li class="list-row">
        <div>
          <img
            class="size-10 rounded-box"
            src="https://img.daisyui.com/images/profile/demo/1@94.webp"
          />
        </div>
        <div>
          <div>Dio Lupa</div>
          <div class="text-xs uppercase font-semibold opacity-60">
            Remaining Reason
          </div>
        </div>
      </li>
    </ul>
  </aside>
</div>
