<div class="w-full h-full m-6 flex">
  <aside class="p-4 h-full rounded-md border-amber-400 border-2 w-64">
    <!-- Search Bar-->
    <label class="input">
      <svg
        class="h-[1em] opacity-50"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <g
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2.5"
          fill="none"
          stroke="currentColor"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </g>
      </svg>
      <input
        type="search"
        class="grow"
        placeholder="Search"
        [formControl]="searchControl"
      />
    </label>

    <!-- Chats List -->
    <ul class="list">
      @if (showSearchList) { @for(listItem of conversationSearchList;track
      $index) {
      <li class="list-row">
        <div>
          <img
            class="size-10 rounded-box"
            src="https://img.daisyui.com/images/profile/demo/1@94.webp"
          />
        </div>
        <div
          (click)="onNewConversation(listItem.id!,`${listItem.firstname} ${listItem.lastname}`)"
          class="cursor-pointer"
        >
          <div>{{ listItem.firstname }} {{ listItem.lastname }}</div>
          <div class="text-xs font-semibold opacity-60">Remaining Reason</div>
        </div>
      </li>
      } }

      <!-- @for(listItem of (showSearchList ? conversationSearchList :
      conversationList);track $index) { @if (showSearchList && 'type' in
      listItem && listItem.type == 'user') {
      <li class="list-row">
        <div>
          <img
            class="size-10 rounded-box"
            src="https://img.daisyui.com/images/profile/demo/1@94.webp"
          />
        </div>
        <div
          (click)="onNewConversation(listItem.id!,`${listItem.firstname} ${listItem.lastname}`)"
        >
          <div>{{ listItem.firstname }} {{ listItem.lastname }}</div>
          <div class="text-xs font-semibold opacity-60">Remaining Reason</div>
        </div>
      </li>
      } @else if (showSearchList && 'type' in listItem && listItem.type ==
      'conversation') { } } -->

      <li class="list-row">
        <div>
          <img
            class="size-10 rounded-box"
            src="https://img.daisyui.com/images/profile/demo/1@94.webp"
          />
        </div>
        <div>
          <div>Dio Lupa</div>
          <div class="text-xs font-semibold opacity-60">Remaining Reason</div>
        </div>
      </li>
    </ul>
  </aside>

  <!-- Chat -->
  <main class="flex-1 overflow-y-auto shadow-lg flex flex-col">
    <div id="chat-title-bar" class="flex gap-4 bg-slate-200 p-4 rounded-sm">
      <div>
        <img
          class="size-10 rounded-box"
          src="https://img.daisyui.com/images/profile/demo/1@94.webp"
        />
      </div>
      <div>
        <div>Dio Lupa</div>
        <div
          id="status"
          class="text-xs text-emerald-500 font-semibold opacity-60"
        >
          Online
        </div>
      </div>
    </div>

    <div id="messages" class="flex-1"></div>

    <div id="message-input" class="flex gap-2 sticky bottom-0 w-full px-6 py-4">
      <input type="text" class="input flex-1" />
      <button
        class="rounded-[50%] bg-emerald-500 text-white w-10 h-10 cursor-pointer hover:bg-emerald-700"
      >
        <i class="pi pi-send"></i>
      </button>
    </div>
  </main>
</div>
